<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SchemaValidatingService.SchemaValidatingService">
        <endpoint address="" binding="wsHttpBinding" contract="SchemaValidatingService.ISchemaValidatingService" behaviorConfiguration="SchemaValidatingServiceEndpointBehavior" />
        <endpoint address="novalidation" binding="wsHttpBinding" contract="SchemaValidatingService.ISchemaValidatingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors> 
        <behavior>  
          <serviceMetadata httpGetEnabled="True" /> 
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SchemaValidatingServiceEndpointBehavior">
          <schemaValidator/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="schemaValidator" type="SchemaValidatingService.SchemaValidationBehaviorExtensionElement, CustomBehavior, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
    <system.web> 
	<customErrors mode="Off"/>
        <compilation defaultLanguage="C#" targetFramework="4.0"/>
    </system.web>
</configuration>
